.App {
  text-align: center;
}

/* log */
 .logo{
    float: left;
    margin: 0;
    padding: 20px;
 }


/*  heder style */

.header{
  background-color: orange;
  height: 100px;
}

.cart-div{

 float: right;
 margin: 25px;
 position: relative;

}
.cart-div img{
  width: 30px;
}

.cart-div span{

 position: absolute;
 z-index: 5;
 background-color: green;
 height: 20px;
 width: 20px;
 border-radius: 50%;
 color: white;
 top: -10px;
 right: 0;




}


/* product ui */


.productContainer{


 display: flex;
 flex-wrap: wrap;
 justify-content: center;

}

.product-item{
      /* border: 1px solid rgb(80, 76, 76); */
      margin: 20px;
      padding: 20px;  
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 7px;
      justify-content: center;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}
.product-item img{
   
  width: 120px;
  height: 150px;
}












/* end product ui */


















/* header style */


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
