.cart-page-conatiner{
       display: flex;
       margin-left: 30px;
       margin-right: 30px;
 
}


.cart-page-conatiner table{

  flex: 80%;
  border-collapse: collapse;


}

.cart-page-conatiner table td{

  border: 1px solid #ccc;
  padding: 15px;

}

.price-detilas{
   flex: 20%;
   margin: 0px 30px;

}

.price-detilas .adjust-price{
   
     display: flex;
     justify-content: space-around;
     margin-bottom: 10px;
     padding-bottom: 10px;
     border-bottom: 2px solid gray;
    

} 

.price-detilas .adjust-price span{
    font-size: 20px;
}

.pic{
  width: 80px;
  height: 100px;
}
.quantity{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.quantity button{

   cursor: pointer;
   font-size: 25px;
  border-radius: 5px;
}